apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mailcow-anonaddy-translator.fullname" . }}
  labels:
    {{- include "mailcow-anonaddy-translator.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mailcow-anonaddy-translator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mailcow-anonaddy-translator.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: true
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: BACKEND
              value: "{{ .Values.backend.type }}"
            - name: API_PORT
              value: "{{ .Values.service.port }}"
            {{- if eq .Values.backend.type "MAILCOW" }}
            - name: MAILCOW_API_ENDPOINT
              {{- if and .Values.backend.mailcow.existingSecretName .Values.backend.mailcow.endpointKey }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.mailcow.existingSecretName }}
                  key: {{ .Values.backend.mailcow.endpointKey }}
              {{- else }}
              value: "{{ .Values.backend.mailcow.endpoint }}"
              {{- end }}
            - name: MAILCOW_API_KEY
              {{- if and .Values.backend.mailcow.existingSecretName .Values.backend.mailcow.apiKeyKey }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.mailcow.existingSecretName }}
                  key: {{ .Values.backend.mailcow.apiKeyKey }}
              {{- else }}
              value: "{{ .Values.backend.mailcow.apiKey }}"
              {{- end }}
            - name: MAILCOW_API_SOGO_VISIBLE
              value: "{{ .Values.backend.mailcow.sogoVisible }}"
            {{- end }}
      volumes:
        - name: config
          secret:
            secretName: {{ .Values.users.existingSecretName }}
            items:
              - key: {{ .Values.users.configKey }}
                path: default.json
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
